**/*{.,-}min.js
**/*.sh
**/*.py
gantt-chart-d3v2.js
jqClock.min.js
coverage/**
static/dist/*
static/docs/*
templates/airflow/dags.html
templates/airflow/gantt.html
templates/airflow/graph.html
templates/airflow/ti_log.html
templates/airflow/tree.html
